/* desktop layout */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');




@media only screen and (min-width:1280px){
    
    
    .sec5-flex{ 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       
        margin-top: 95px;
        
    }
    
    body{
        margin: 0;
        padding-left: 84px;

    }
    
    .section-5 h1{
         font-family: 'Roboto Slab';
         font-size: 55px;
         padding-left: 121px;
        

      
    }
    
    
    .sec5-fl-dv-title{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #000000;
        padding-left: 19px;
        margin-top: 11px;
        margin-bottom: 32px;
        }
        
        .sec5-fl-dv-content{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        padding-left: 20px;

        }

        
        .sec5-flex-div{
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
            width: 399px;
        height: 328px;
        background-color: #FFFFFF;
        border-radius: 30px;
        margin-left: 37px;
        margin-bottom: 41px;
     
        }

        .title{
width: 365px;
height: 50px;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #000000;
        padding-left: 19px;
        margin-top: 11px;
        margin-bottom: 1px;
    }

    .content{
        width: 365px; 
        height: 63px;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        padding-left: 20px;
    }


       
}



/* tablet layout */
@media only screen and (min-width:992px) and (max-width:1279px) {
    
}

/* mobile layout */

@media only screen and (min-width:320px) and (min-width:991px){

}